My workflow 5 (1).json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn profile search query builder.\n\nYour task is to generate a Google search query that returns ONLY personal LinkedIn profile pages.\n\nSTRICT RULES:\n- Results MUST be individual LinkedIn profiles only\n- Use ONLY: site:linkedin.com/in\n- EXCLUDE:\n  - linkedin.com/jobs\n  - linkedin.com/company\n  - linkedin.com/posts\n  - linkedin.com/school\n- Do NOT generate company pages or job listings\n- Do NOT generate URLs, only the search query\n\nFrom the input, extract:\n- Job title (required)\n- Location (optional)\n- Number of leads (optional, default 10)\n\nFormatting rules:\n- Convert job titles to singular form\n- Capitalize location words normally\n- Replace spaces with +\n- Always include: site:linkedin.com/in\n\nOutput JSON ONLY in this format:\n{\n  \"query\": \"site:linkedin.com/in formatted_search_query\",\n  \"leadCount\": number\n}\n\nInput:\n{{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a LinkedIn profile search query builder.  Your task is to generate a Google search query that returns ONLY personal LinkedIn profile pages.  STRICT RULES: - Results MUST be individual LinkedIn profiles only - Use ONLY: site:linkedin.com/in - EXCLUDE:   - linkedin.com/jobs   - linkedin.com/company   - linkedin.com/posts   - linkedin.com/school - Do NOT generate company pages or job listings - Do NOT generate URLs, only the search query  From the input, extract: - Job title (required) - Location (optional) - Number of leads (optional, default 10)  Formatting rules: - Convert job titles to singular form - Capitalize location words normally - Replace spaces with + - Always include: site:linkedin.com/in  Output JSON ONLY in this format: {   \"query\": \"site:linkedin.com/in formatted_search_query\",   \"leadCount\": number }  Input: {{ $json.chatInput }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -784,
        -272
      ],
      "id": "ca2966aa-1cc1-4380-ae4d-53061854258f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -832,
        64
      ],
      "id": "8a16d9ed-5bc2-488b-8bfa-b04f4ddab088",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sHezt9czI3LITGUM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"query\": \"site:linkedin.com/in \\\"Data Scientist\\\" Miami\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -640,
        48
      ],
      "id": "571a485d-bcdb-4423-9c40-ed4a095e1134",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "36011ff0-a3fb-4e1d-9344-65f728e8f353",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -208
      ],
      "id": "a9225cdd-86a1-4380-9632-7cfdcd2b6e7b",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "5f497e52-bcd8-4805-a929-0f0bd91f7a6f",
      "name": "Wait",
      "webhookId": "6dc659be-89bd-4c77-bf1b-487b42e6253a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "1070a4afe7646f0dafe247e3ec722ae3d1b68346"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.output.query }}"
            },
            {
              "name": "location",
              "value": "India"
            },
            {
              "name": "page",
              "value": "={{ runIndex + 1}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -368
      ],
      "id": "8ffa2540-ddc0-4d33-869b-ee6e8ff28244",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        -352
      ],
      "id": "bbbbe85d-5d23-497b-9f37-e1558ff28352",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        -272
      ],
      "id": "34189bd2-05c0-4b3f-8dc4-1bcb103d2a57",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "staues",
              "lookupValue": "in progress"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        -272
      ],
      "id": "9d025fe8-aec8-435a-bcfb-d996aa0b2c51",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7zHw9wWK4toXIqGp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XDGQq-SVYzEeo_YVDoZ0bpbXJaXBWs40ybdQxqpixxs",
          "mode": "list",
          "cachedResultName": "linkedin scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDGQq-SVYzEeo_YVDoZ0bpbXJaXBWs40ybdQxqpixxs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDGQq-SVYzEeo_YVDoZ0bpbXJaXBWs40ybdQxqpixxs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.publicIdentifier }}",
            "link": "={{ $json.linkedinUrl }}",
            "snippet": "={{ $json.headline }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -160
      ],
      "id": "09547f78-980f-404f-ad3e-b290ec44c4b1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7zHw9wWK4toXIqGp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "M2FMdjRVeF1HPGFcc",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Search Scraper No Cookies ✅ Find all people 📧 (harvestapi/linkedin-profile-search)",
          "cachedResultUrl": "https://console.apify.com/actors/M2FMdjRVeF1HPGFcc/input"
        },
        "customBody": "={\n    \"autoQuerySegmentation\": false,\n    \"locations\": [\n        \"{{ $('Get row(s) in sheet').item.json.location }}\"\n    ],\n    \"maxItems\": 5,\n    \"recentlyChangedJobs\": false,\n    \"searchQuery\": \"{{ $('Get row(s) in sheet').item.json.Title }}\"\n} "
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        -176
      ],
      "id": "2e4eb43c-a6f3-45a0-a8e8-a0e05f5ec179",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "uUVL1FGdBNzqF7X4",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iw5w7U9Cw78XukPzawAj1SWCCor_AuZHCdOfv8tjJik/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "staues": "compleated",
            "Title": "={{ $('Get row(s) in sheet').item.json.Title }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "staues",
              "displayName": "staues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -160
      ],
      "id": "1089c1e5-7d09-4dfd-8f02-9efec727b050",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7zHw9wWK4toXIqGp",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "14a5254c-9669-4523-afe0-0a6e19d072ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72156bc916d3d0db690057c918dd2e43bfd322d0f5b3db53eb90e26971f0f8d6"
  },
  "id": "GHuCwy14TSsOUj6lqJ_ak",
  "tags": []
}